<div class="site-header">
  <div class="nav">

    <!-- Nav links (used for both desktop & mobile) -->
    <div class="nav-left">
      <h2 style="font-size: 100%;"><a href="index.html">Home</a></h2>

      <div class="dropdown">
        <button class="dropbtn" data-dropdown-button>Gallery</button>
        <div class="dropdown-content">
          <a href="/galleryInkDrawings/index.html">Ink drawings</a>
          <a href="/galleryLinocutPrints/index.html">Linocut prints</a>
          <a href="/galleryPaintings/index.html">Paintings</a>
        </div>
      </div>

      <h2 style="font-size: 100%;"><a href="/about/index.html">About</a></h2>
    </div>

    <!-- Hamburger -->
    <button class="hamburger">&#9776;</button>

    <div class="mobile-menu"></div>
    
  </div>
</div>
