body {
  background-color: white;
}
h1 {
  color: black;
  font-family: verdana;
}
h1 {
  color: black;
  font-family: verdana;
}
p {
  font-family: verdana;
}
.mycontainer {
  display: flex;
  font-family: verdana;
}