/* =====================
   Base / Global Styles
   ===================== */

body {
  background-color: white;
  font-family: verdana;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: black;
}

p {
  margin: 0.5em 0;
}

div {
  margin: 0;
  text-align: left;
}

/* =====================
   Header / Nav Styles
   ===================== */

.site-header {
  min-height: 300px;
}

.nav {
  display: flex;
  align-items: flex-start;
}

/* =====================
   Links
   ===================== */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:active {
  color: gray;
}

/* =====================
   Layout
   ===================== */

.nav {
  display: flex;
}

/* =====================
   Dropdown Menu
   ===================== */

.dropdown {
  display: inline-block;
}

/* Dropdown Button (styled like heading) */
.dropbtn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  font-weight: bold;
  color: black;

  cursor: pointer;
  text-align: left;
}

.dropbtn:hover,
.dropbtn:focus {
  color: gray;
  text-decoration: underline;
}

.dropbtn:focus {
  outline: 2px dotted gray;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  min-width: 160px;
}

/* Dropdown Links */
.dropdown-content a {
  display: block;
  padding: 0.3em 0 0.3em 1.5em;
  font: inherit;
  font-weight: normal;
}

/* Show dropdown */
.show {
  display: block;
}
